# editorconfig ini file
# Check out http://editorconfig.org for a list of plugins for different 
# IDEs/text editors that support this file. Vim plugin to support this:
#
#     http://www.vim.org/scripts/script.php?script_id=3934
#     https://github.com/editorconfig/editorconfig-vim
root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = tab
# Despite promise somewhere alignment is done only using tabs. Thus setting 
# indent_size and tab_width is a requirement.
indent_size = 4
tab_width = 4
charset = utf-8

[*.rst]
indent_style = space
