recursive-include powerline *.json *.vim
recursive-include powerline/bindings *.*
recursive-exclude powerline/bindings *.pyc *.pyo
recursive-include powerline/dist *.*
recursive-include client *.*
recursive-include docs/source *.rst *.py
include docs/Makefile
