name: Build, test and Publish to PyPI

on:
  push:
    branches:
    - master
    - develop
    - feature/actions
    - test_improvements
  pull_request:
    branches:
    - develop

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [2.7, 3.5, 3.6, 3.7, 3.8, 3.9]

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel pytest psutil hglib netifaces pytest-xprocess pexpect
        sudo apt-get install -y tcsh zsh bash busybox fish mksh
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Build
      run: |
        python setup.py sdist bdist_wheel

    - name: Install powerline
      run: |
        pip install .

    - name: Run Python tests
      run: |
        python -m pytest --color=yes tests/test_python

    - name: Run awesome tests
      run: |
        python -m pytest --color=yes tests/test_awesome

    - name: Run lemonbar tests
      run: |
        python -m pytest --color=yes tests/test_bar

    - name: Run daemon tests
      run: |
        python -m pytest --color=yes tests/test_daemon

    - name: Run lint tests
      run: |
        python -m pytest --color=yes tests/test_lint

    - name: Run shell tests
      run: |
        python -m pytest --color=yes tests/test_shells

    - name: Run vim tests
      run: |
        python -m pytest --color=yes tests/test_vim

    - name: Publish
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.PYPI_TOKEN }}
        packages_dir: dist/
